<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="JS\index.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS\index.css"></script>
    <title>To-Do App</title>
</head>
<body style="background-color: rgb(0, 1, 75); margin: auto; position: absolute; top: 0%;bottom: 0%;left: 0%;right: 0%;">
    <div id="HeaderDiv">
        <h1>The ToDo APP</h1>
        <div style="position: absolute; margin: auto; left: 22%; top: 70px; text-align: left;">
            <h2 style="LINE-HEIGHT:10px;">Created by GROUP 10:</h2>
            <p style="font-weight: bolder;LINE-HEIGHT:5px;">Moyank Giri</p>
            <p style="font-weight: bolder;LINE-HEIGHT:5px;">Vaibhava Krishna D</p>
            <p style="font-weight: bolder;LINE-HEIGHT:5px;">T Tarun Aditya</p>
        </div>
        <div style="position: absolute; margin: auto; top: 50px; right: 22%; text-align: right;">
            <h3 style="LINE-HEIGHT:5px;">A Python Project</h3>
            <h3 style="LINE-HEIGHT:5px;">Semester 1 of batch 2019-23</h3>
            <h3 style="LINE-HEIGHT:5px;">UE19CS102 - Section M</h3>
            <h3 style="LINE-HEIGHT:5px;">PES University, Bengaluru, Karnataka, India</h3>
            <h3 style="LINE-HEIGHT:5px;">For more details or source code go to:</h3>
            <a href="https://github.com/enygmator/To-Do-PoC/" target="_blank">Github-Enygmator-ToDo-PoC</a>
        </div>
        
    </div>
    <div id="BodyDiv">
        <div id="DBButtonDiv" style="top: 10%;">
            <div>IMPORT TODO DATABASE:    <input id="inputFile" type="file" onchange="ImportToDoDB(event)" style="align-items: center;"></div>            
        </div>
        <button id="DBButtonDiv" style="bottom: 10%;" onclick="NewToDoDB()">CREATE NEW TODO DATABASE</button>
    </div>
    <div id="FooterDiv" class="row">
        <p style="font-weight: bold; position: absolute; left: 5px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">App Status and notification:</p>
        <p style="position: absolute; left: 250px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Everything looks good!</p>
    </div>
</body>
</html>