<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="JS\ToDo.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS\ToDo.css"></script>
    <title>To-Do App</title>
</head>
<body>
    <div style="position: absolute; top: 0%;bottom: 0%;left: 0%;right: 0%; margin: auto; background: rgba(75, 128, 241, 0.788); width: 100%; height: 100%;">
        <div id="ListBar">
            <ol id="ListBarOL"></ol>
            <button onclick="Update()" style="margin: auto; position: absolute; bottom: 5px; left: 5px; right: 5px;">Update</button>
        </div>
        <div id="Checklist">

        </div>
    </div>
    <a href="index.html">index.html</a>
</body>
</html>